@charset "utf-8";
.tekstIsCode {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
}
body {
	
}body p {
	font-size: 18px;
}
body ul {
	font-size: 18px;
}

body ol li {
	font-size: 18px;
}
